@import url('http://fonts.googleapis.com/css?family=Roboto:400,700,400italic');

#stonehenge_toolbar *,
#stonehenge_window * {
	box-sizing: border-box;
}

[data-stonehenge-region] .redactor-editor {
	padding: 0;
	border: none;
}

[data-stonehenge-region] .redactor-editor,
[data-stonehenge-region] .redactor-box {
	background: transparent;
}

[data-stonehenge-region] .ace_editor {
	min-height: 300px;
}

[data-stonehenge-region] .redactor-toolbar li a.re-update {
	color: #1F78D8;
}

[data-stonehenge-region] .redactor-toolbar li a.re-update:hover {
	color: #FFFFFF;
}

[data-stonehenge-region] a.stonehenge_button {
	text-decoration: none;
	margin-right: 6px;
}

[data-stonehenge-ace] > div {
	position: relative;
}

[data-stonehenge-region] a.stonehenge_button.stonehenge_update {
	margin-left: 6px;
	margin-right: 0;
}

[data-stonehenge-ace] a.stonehenge_button.stonehenge_update {
	position: absolute;
	top: 0;
	left: 2px;
	z-index: 5;
	margin: 0;
}

span[data-stonehenge-region] input[type="text"],
div[data-stonehenge-region] textarea,
span[data-stonehenge-region] input[type="text"]:focus,
div[data-stonehenge-region] textarea:focus {
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	color: inherit;
	line-height: inherit;
	border: none;
	outline: 1px solid rgba(127, 127, 127, 0.25);
	outline-offset: 0;
}

[data-stonehenge-region] a.stonehenge_button.stonehenge_edit,
span[data-stonehenge-region] a.stonehenge_button.stonehenge_update {
	color: #FFFFFF;
	background: #337AB7;
	padding: 2px;
	border: 1px solid #2E6DA4;
	border-radius: 2px;
}

[data-stonehenge-region] a.stonehenge_button.stonehenge_edit:hover,
span[data-stonehenge-region] a.stonehenge_button.stonehenge_update:hover {
	background: #286090;
	border-color: #204D74;
}

div[data-stonehenge-region] a.stonehenge_button.stonehenge_edit {
	float: left;
}

body[data-stonehenge] {
	padding-bottom: 35px;
}

#stonehenge_toolbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #EEEEEE;
	border-top: 1px solid #CCCCCC;
	z-index: 10000;
}

#stonehenge_toolbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#stonehenge_toolbar ul#stonehenge_toolbar_left {
	float: left;
}

#stonehenge_toolbar ul#stonehenge_toolbar_right {
	float: right;
}

#stonehenge_toolbar li {
	float: left;
}

#stonehenge_toolbar a {
	display: block;
	text-decoration: none;
	height: 35px;
	width: 35px;
	padding: 10px;
	color: #222222;
}

#stonehenge_toolbar a:hover {
	background: #337AB7;
	color: #FFFFFF;
}

#stonehenge_toolbar a.active {
	background: #286090;
	color: #FFFFFF;
}

#stonehenge_window {
	position: fixed;
	top: 100%;
	left: 0;
	right: 0;
	bottom: 36px;
	box-sizing: border-box;
	overflow: auto;
	z-index: 10001;
	background: rgba(255, 255, 255, 0.85);
	color: #222222;
	font: 14px Roboto, sans-serif;
}

#stonehenge_window #stonehenge_window_inner {
	padding: 20px;
	max-width: 1080px;
	margin: 0 auto;
}

#stonehenge_window_pageManager ul {
	list-style: none;
	padding: 0;
}

#stonehenge_window_pageManager ul li {
	margin-bottom: 4px;
}

#stonehenge_window_pageManager ul li:hover {
	background: rgba(200, 200, 200, 0.50);
}

#stonehenge_window_pageManager ul li a {
	padding: 2px;
	display: block;
	text-decoration: none;
	color: #337AB7;
}

#stonehenge_window_pageManager ul li a:hover {
	color: #286090;
}

#stonehenge_window_pageManager ul li .actions {
	float: right;
}

#stonehenge_window_pageManager ul li .actions.new {
	float: none;
}

#stonehenge_window_pageManager ul li .actions a {
	margin: 0 2px;
	float: left;
	font-size: 15px;
	background: #337AB7;
	border: 1px solid #2E6DA4;
	border-radius: 2px;
	color: #FFFFFF;
	width: 21px;
	text-align: center;
}

#stonehenge_window_pageManager ul li .actions a:hover {
	background: #286090;
	border-color: #204D74;
}

#stonehenge_window.animating {
	bottom: 0;
	overflow: hidden;
	z-index: 9999;
}

body.stonehenge_blur {
	overflow: hidden;
}

body.stonehenge_blur > * {
	-webkit-filter: blur(4px);
	filter: blur(4px);
}

body > #stonehenge_toolbar,
body > #stonehenge_window {
	-webkit-filter: none;
	filter: none;
}

.stonehenge_modal {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10001;
	background: rgba(255, 255, 255, 0.85);
	display: none;
}

.stonehenge_modal > div {
	background: #FFFFFF;
	max-width: 800px;
	margin: 60px auto 0;
	padding: 30px;
	box-shadow: 0 0 15px rgba(100, 100, 100, 0.50);
	border-radius: 8px 6px;
}

.stonehenge_modal > div > :first-child {
	margin-top: 0;
}

.stonehenge_modal > div > :last-child {
	margin-bottom: 0;
}

.stonehenge_modal dl,
.stonehenge_modal dl dt,
.stonehenge_modal dl dd {
	margin: 0;
	padding: 0;
}

.stonehenge_modal dl dt {
	font-weight: bold;
}

.stonehenge_modal dl dd {
	margin-bottom: 6px;
}

.stonehenge_modal dl dt label {
	font-weight: bold;
}

.stonehenge_modal dl dt p {
	font-weight: normal;
	color: #444444;
}

.stonehenge_modal input[type=text],
.stonehenge_modal select {
	width: 100%;
	font: inherit;
	height: 26px;
}

.stonehenge_modal .actions {
	margin-top: 16px;
}

.stonehenge_modal .actions button {
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	color: #888888;
	background: none;
	margin: 0 10px 0 0;
	padding: 8px;
	cursor: pointer;
	font-family: inherit;
	font-weight: bold;
	font-size: 16px;
}

.stonehenge_modal .actions button:hover {
	background: #EEEEEE;
	border-color: #AAAAAA;
}

.stonehenge_modal .actions button.submit {
	background: #337AB7;
	border: 1px solid #2E6DA4;
	color: #FFFFFF;
}

.stonehenge_modal .actions button.submit:hover {
	background: #286090;
	border-color: #204D74;
}

#stonehenge_window_pageManager_configurePage.edit .if-create,
#stonehenge_window_pageManager_configurePage.create .if-edit {
	display: none;
}