<h1><i class="fa fa-eye-slash"></i> Edit Hidden Regions</h1>
<p>This view may have some content regions that are not directly editable on the page. These containers may be used to supply meta information or supplement stylesheets and scripts.</p>
{% for id, region in regions %}
	<div class="hidden-region">
		<h2>{{ region.name }}</h2>
		{% if region.description %}<p>{{ region.description }}</p>{% endif %}
		<div data-stonehenge-region="{{ id }}" data-stonehenge-region-flags="{{ region._json | escape }}"></div>
	</div>
{% endfor %}