<div id="stonehenge_window_pageManager">
	<h1><i class="fa fa-files-o"></i> Manage Pages</h1>
	<p>Manage your website&rsquo;s pages here. You can change views, rename slugs, and add and remove pages from this area.</p>
	<ul>
		{% for slug in pages %}
		<li data-slug="{{ slug }}">
			<div class="actions">
				<a href="javascript:;" class="configure fa fa-cog" title="Configure page"></a>
				<a href="javascript:;" class="delete fa fa-trash-o" title="Delete page"></a>
			</div>
			<a href="{% if slug != '/' %}/{% endif %}{{ slug }}!">{{ slug }}</a>
		</li>
		{% endfor %}
		<li>
			<div class="actions new">
				<a href="javascript:;" class="create fa fa-plus" title="Create page"></a>
			</div>
		</li>
	</ul>

	<div id="stonehenge_window_pageManager_configurePage" class="stonehenge_modal">
		<div>
			<h2><span class="if-edit"><i class="fa fa-cog"></i> Configure</span><span class="if-create"><i class="fa fa-plus"></i> Create</span> Page</h2>
			<dl class="form">
				<dt>
					<label for="stonehenge_window_pageManager_configurePage_parent">Parent</label>
					<p>Choose a parent for this page (<code>/</code> is top level).</p>
				</dt>
				<dd>
					<select id="stonehenge_window_pageManager_configurePage_parent">
						{% for slug in pages %}
							{% if is_slug_parent(slug) %}
						<option value="{{ slug }}">{{ slug }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</dd>
				<dt>
					<label for="stonehenge_window_pageManager_configurePage_slug">Slug</label>
					<p>The URL of the page will be <code>your-site.com/[parent]/[slug]</code>. End the slug with a <code>/</code> if it should have children.</p>
				</dt>
				<dd><input type="text" id="stonehenge_window_pageManager_configurePage_slug"></dd>
				<dt>
					<label for="stonehenge_window_pageManager_configurePage_view">View</label>
					<p>Choose the template for this page. <span class="if-edit">Note: some content may not translate from one view to another.</span></p>
				</dt>
				<dd>
					<select id="stonehenge_window_pageManager_configurePage_view">
						{% for id, view in views %}
						<option value="{{ id }}">{{ view.name }}</option>
						{% endfor %}
					</select>
				</dd>
			</dl>
			<div class="actions">
				<button class="submit"><span class="if-edit"><i class="fa fa-save"></i> Save</span><span class="if-create"><i class="fa fa-plus"></i> Create</span></button>
				<button class="cancel"><i class="fa fa-times"></i> Cancel</button>
			</div>
		</div>
	</div>
</div>