<div id="stonehenge_toolbar">
	<ul id="stonehenge_toolbar_left">
		<li><a href="javascript:;" data-view="hiddenRegions" class="fa fa-eye-slash" title="Edit Hidden Regions"></a></li>
		<li><a href="javascript:;" data-action="preview" class="fa fa-search" title="Preview"></a></li>
		<li><a href="javascript:;" data-action="save" class="fa fa-save" title="Save"></a></li>
	</ul>
	<ul id="stonehenge_toolbar_right">
		<li><a href="javascript:;" data-view="pageManager" class="fa fa-files-o" title="Manage Pages"></a></li>
		<li><a href="javascript:;" data-view="config" class="fa fa-wrench" title="Modify Settings"></a></li>
		<li><a href="javascript:;" data-action="logOut" class="fa fa-lock" title="Log Out"></a></li>
	</ul>
</div>
<div id="stonehenge_window"><div id="stonehenge_window_inner"></div></div>