{% extends "_base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block head %}{{ head }}{% endblock %}
{% block bodytag %} class="default"{% endblock %}
{% block body %}
	<div class="jumbotron">
		<div class="container">
			{{ jumbotron }}
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				{{ col1 }}
			</div>
			<div class="col-md-6">
				{{ col2 }}
			</div>
		</div>
		<hr>
		<footer>
			<p>{{ copyright }}</p>
		</footer>
	</div>
{% endblock %}